/* PAGE AREA: SERVER DATA */
/* -------------------------------------------------------------------------- */


.data-row {
  /* border: 1px solid red; */
  background-color: #111111;
  color: darkslategray;
  display: flex;
  padding: .2em;
  margin-bottom: .2em;
  margin-left: 1em;
}

.data-row:hover {
  color: deepskyblue;
}

.data-label,
.data-value {
  color: inherit;
  display: inline-flex;
  flex-grow: 1;
  justify-content: left;
  font-family: 'Courier New', Courier, monospace;
  /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
  margin: auto;
  width: 50%;
}



#user-list {
  /* border: 3px dotted darkslategray; */
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.user-info,
.unit-info {
  border-radius: 1em;
  /* border: 2px solid darkslateblue; */
  display: flex;
  gap: 1em;
}


/* PAGE AREA: PLAYER VIEW */
/* -------------------------------------------------------------------------- */


.user-view-canvas,
.unit-view-canvas {
  border-radius: 1em;
  border: 2px solid darkslateblue;
  display: flex;
}

.cardwrap {
  /* border: 1px dotted darkslateblue; */
  display: flex;
  flex-direction: row;
  gap: 1em;
}


/* PAGE AREA: ENTITY VIEW */
/* -------------------------------------------------------------------------- */


#unit-view-area {
  /* border: 1px dotted darkslategray; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1em;
}


/* BASIC ELEMENTS */
/* -------------------------------------------------------------------------- */


button {
  background-color: #111111;
  border: none;
  color: darkcyan;
  font: inherit;
  padding: 1em;
}

button:hover {
  color: deepskyblue;
  cursor: pointer;
}

canvas {
  display: flex;
  padding: 1em;
}

td {
  border-bottom: 1px solid #222222;
  color: darkslategray;
}

table {
  background: #111111;
  border-radius: 1em;
  display: flex;
  font-family: 'Courier New', Courier, monospace;
  padding: 1em;
  table-layout: fixed;
}